@font-face {
  font-family: 'Roboto';
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

/*Navigation bar*/

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  font-size: 18px;
  padding: 36px;
}

.nav-bar a {
  text-decoration: none;
}

.navbar-logo {
  display: flex;
  margin-left: 300px;
}

.logo {
  font-weight: bold;
  font-size: 24px;
  color: #f9faf8;
}

.right-container {
  margin-right: 200px;
}

.right-items {
  margin: 10px;
  color: #e5e7eb;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f2937;
  height: 500px;
}

.header-items {
  display: flex;
  justify-content: space-between;
  width: 1250px;
}
.header-left {
  display: flex;
  flex-direction: column;
  width: 450px;
}

.hero-main {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  margin-top: 10px;
  margin-bottom: 10px;
}

.hero-secondary {
  font-size: 18px;
  color: #e5e7eb;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-sign-up {
  background-color: #3882f6;
  border-style: none;
  padding: 10px;
  border-radius: 5px;
  color: #f9faf8;
  font-weight: bold;
  font-size: 15px;
  width: 125px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
  height: 270px;
  width: 500px;
  color: #f9faf8;
}
